.Formsetstye{
    padding:10px;
    background-color: rgba(0,0,0,0.2) !important;
    border-radius: 15px;
    margin:10px;
    color: white;
}
.formSize{
    height: 100%;
}
.nopadding{
    padding-left: 0;
}
.padddingbottom{
    padding-bottom: 15px;
}
.paddingtop{
    margin-top: -50px !important;
}

.Requiredfieldspace{
    padding-bottom: 20px;
}
.Requiredfield{
    color: red;
}
.textalign{
    text-align: center;
    padding-top: 7px;
}

.form-control::placeholder, textarea::placeholder {
    color: lightgray!important;
    }
    .form-control{
        color: white !important;
    }
      option[value=""][disabled] {
        display: none;
      }

/* .btn-danger{
    margin-right: 25px;
} */

#UploadImagefromcomputer{
    display: none;
}
#Captureimagefromwebcam{
    display:none;
}