.icon-col {
    padding-left: 40px;
    padding-top: 20px;
}
.icon-col>a {
  cursor: pointer;
  font-size: 1.3em;
  }
  .icon-col>a:hover{
    color:red;
  }
div.icon-col a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    background-color: white;
}
.logo {
    padding: 8px 0 0 20px;
}
img {
    /* width: 200px; */
    /* cursor: pointer; */
}
.logo > p {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.logo > p:hover {
    color: red;
}